{% block body %} {% with colorHexa = colorInfo[0] , colorName = colorInfo[1],
colorEmotion = colorInfo[2], colorText = colorInfo[3] %}


    <div class="container-card">
        <div class="card-color" id="card-{{cardNum}}" card-color="{{colorHexa}}">
            <div class="back">
                <div class="back-info">
                    <div>
                        <h4>{{colorEmotion}}</h4>
                    </div>
                        <div>
                            <p class="card-color-text">{{colorText}}</p>
                        </div>
                </div>
                <div class="back-copy-confirm" style="color:{{contrast_color}}">Copied to
                    clipboard !</div>
                <div class="back-copy">
                    <svg width="62" height="79" viewBox="0 0 62 79" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 12.5V12.5C11.2284 6.79686 15.7779 2 21.4875
            2H50C55.5228 2 60 6.47715 60 12V59C60 64.5228 55.5228 69 50 69H48.5"
                              stroke="{{contrast_color}}" stroke-width="5"/>
                        <rect x="1.5" y="13.5" width="46" height="64" rx="8.5"
                              stroke="{{contrast_color}}" stroke-width="5"/>
                    </svg>

                </div>
                <div class="back-color" style="color:{{contrast_color}}">{{colorHexa}}</div>
            </div>
            <div class="front"></div>
        </div>
    </div>
{% endwith %} {% endblock %}
