<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/" style="margin-left: 1rem">
    <img
      src="{{
      url_for('static',filename='images/logo_palette.png') }}"
      alt="Palette's
      logo"
      width="70%"
      />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarLinks"
    aria-controls="navbarLinks"
    aria-expanded="false"
    aria-label="Toggle
    navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarLinks">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="main" href="/">PALETTE</a>
      <a class="nav-item nav-link" id="about" href="/about">ABOUT US</a>
      <!-- <a class="nav-item nav-link" id="contact" href="/contact">CONTACT</a> -->
    </div>
  </div>
</nav>
