<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../home.html" style="margin-left: 1rem;">
    <img src="{{
url_for('static',filename='images/logo_palette.png') }}" alt="Palette's logo" width="70%">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
    aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarLinks">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">PALETTE</a>
      <a class="nav-item nav-link" href="#">ABOUT US</a>
      <a class="nav-item nav-link" href="#">CONTACT</a>
    </div>
  </div>
</nav>