*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-weight: 400;
  height: 100vh;
}
.wrapper-history {
  background: linear-gradient(60deg, #420285, #08bdbd);
}
.carousel-history {
}
.carousel-history__item {
  opacity: 10;
  filter: drop-shadow(0 2px 2px #555);
}
